
  <md-content style="margin-top:20% ">
    <div layout="row" layout-align="center center" style="margin-top='50px">
      <input type="text" class="input" placeholder="Enter user name" ng-model="person.username" required></input>
      <span><md-button class="md-fab md-primary md-hue-2" aria-label="Profile" ng-click ="getUserName();"ng-value="search" style="background-color:#C7C7C7">
            <md-icon md-svg-src="assets/images/user58.svg" class = "people"></md-icon>
            <md-tooltip md-direction="right">Search</md-tooltip>
          </md-button><span>
        </div>
    </md-content>