/*#input{
  margin-left: 8px;
  padding:20px;
  width: 100px;
}*/

.input {
  width: 30%;
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px
}

.people {
  width: 24px;
  color: white;
  height: 24px
}
